<!DOCTYPE html>
<div class="row">
    <div class="col-md-12 " ng-controller="StaffSearchController">
        <div class="portlet box">
            <div class="portlet-title portlet-title-custom">
                <div class="caption page-title page-title-custom">
                    <h3>Staff Master</h3>
                </div>
            </div>
            <div class="portlet-body portlet-body-custom form">
                <div class="form-body-custom">
                    <div class="row">
                        <div class="form-group ">
                            <label class="control-label-custom col-md-1">Keyword</label>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type='text' ng-model="keyword" class="form-control text-image-upload"/>
                                    <span id='button' class="btn input-group-addon"
                                          ng-click="search()"><i class="icon-magnifier"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-table margin-left ">
                    <table class="table table-responsive-custom">
                        <thead>
                        <tr>
                            <th style="min-width: 85px">
                                <i class="fa fa-key"></i> Staff Id
                            </th>
                            <!--<th>Date Of Birth</th>-->
                            <th style="min-width: 105px">
                                <i class="glyphicon glyphicon-user"></i> First Name
                            </th>
                            <th style="min-width: 105px">
                                <i class="glyphicon glyphicon-user"></i> Last Name
                            </th>
                            <th style="min-width: 100px">
                                <i class="fa fa-question"></i> Note
                            </th>
                            <th style="min-width: 75px">
                                <i class="glyphicon glyphicon-picture"></i> Image
                            </th>
                            <!--<th>Company Id</th>-->
                            <th style="min-width: 150px">
                                <i class="fa fa-briefcase"></i> Company Name
                            </th>
                            <th style="min-width: 100px">
                                <i class="glyphicon glyphicon-equalizer"></i> City
                            </th>
                            <th style="min-width: 100px">
                                <i class="glyphicon glyphicon-barcode"></i> Zip Code
                            </th>
                            <th style="min-width: 100px">
                                <i class="glyphicon glyphicon-map-marker"></i> Country
                            </th>
                            <th style="min-width: 100px">
                                <i class="fa fa-question"></i> Description
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="staff in listStaff" ng-click="selectedRow(staff)" id="row_id_{{staff.id}}">
                            <td>{{staff.id_staff}}</td>
                            <!--<td>{{staff.dateOfBirth}}</td>-->
                            <td>{{staff.firstname}}</td>
                            <td>{{staff.lastName}}</td>
                            <td class="text-table-overflow-ellipsis" style="max-width: 100px">{{staff.note}}</td>
                            <td><img class="img-circle image-table-view" ng-src="{{staff.imageUrl}}"/></td>
                            <!--<td>{{staff.id_company}}</td>-->
                            <td>{{staff.name}}</td>
                            <td>{{staff.city}}</td>
                            <td>{{staff.zip}}</td>
                            <td>{{staff.country}}</td>
                            <td class="text-table-overflow-ellipsis" style="max-width: 100px">{{staff.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-add-html content-html="dataPagingHtml" class="paging-container margin-left"></div>
                <div class="clearfix"></div>
                <div class="space-style"></div>
                <form name="formCompany" class="form-horizontal">
                    <div class="form-actions" style="border-top: 1px solid #e5e5e5; background: #f5f5f5">
                        <div class="form-group-btn">
                            <button type="button" class="btn green" ng-click="export()">Export Excel</button>
                        </div>
                    </div>
                </form>
                <form action="api/public/api/test/exportExcel" method="post" id="exportExcel">
                    <input type="hidden" id="str" name="str" ng-model="str">
                </form>
            </div>
        </div>
    </div>
</div>